/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

header{
    background-color: #ADD8E6;
    padding: 32px 0;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.debug{
    min-height: 250px;
    border: 2px solid black;
}

/* HEADER */

.menu{
    border: 2px dashed black;
    background-color:#DAA520;
    justify-content: space-between;
    padding: 16px 32px;
}

ul{
    list-style-type: none;
}

li{
    display: inline;
}

li>a{
    color: white;
    text-decoration: none;
}

/* MAIN */

.hero{
    background-color: #00098b;
    justify-content: center;
    align-items: center;
}

.square{
    background-color: #EE82EE;
    width: 500px;
    height: 250px;
    border: 2px dashed black;
    margin: 24px 0;
}

.background{
    background-color: #FFFF;
    justify-content: center;
}

.big-col{
    width: 70%;
    height: 300px;
    background-color: #1F90FF;
    border: 2px dashed black;
    margin: 24px 0;
}

.small-col{
    width: 30%;
    height: 300px;
    background-color: #FFC0CB;
    border: 2px dashed black;
    margin: 24px 0;
}